@charset "utf-8";

// ============================================= *
//                                               *
// モジュール                                      *
//                                               *
// ============================================= */
//trasition
@mixin t($sec) {
    transition: all $sec ease;
}

//キービジュアルの背景画像
@mixin eyecatchBGImg($imgPath, $height, $class-name) {
    .#{$class-name} {
        height: $height;
        background: {
            image: url($imgPath);
            repeat: no-repeat;
            position: center center;
        }
    }
    body:not(.mobileSafari) .#{$class-name} {
        background-attachment: fixed;
    }
    body.mobileSafari .#{$class-name} { //index.jsでUAにより付与。mobile Safariバグ対策
        background-attachment: scroll;
    }
    .#{$class-name} {
        background-size: cover;
    }
}