node_modules
package-lock.json
src/assets/scss/assets/bootstrap/honoka/bootstrap/
src/assets/scss/assets/bootstrap/honoka/honoka/
/dist
/misc

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
