@charset "utf-8";

// ============================================= *
//                                                *
//  ナビゲーションバー                               *
//                                                *
// ============================================= */
.header {
    .navbar {
        &.navbar-light {
            .navbar-brand {
                display: block;
                margin: 0 auto;
                &, &:link, &:visited {
                    color: $main-color;
                    text-decoration: none;
                }
                &:hover, &:active, &:focus {
                    color: $main-color2;
                    text-decoration: none;
                }
            }
        }
    }
}