@charset "utf-8";

$rpt-size: 44px;

.returnPageTop {
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 90;
    .fa-fw {
        display: block;
        font-size: $rpt-size / 2;
        width: $rpt-size;
        height: $rpt-size;
        line-height: $rpt-size;
        background-color: $main-color3;
        border-radius: $rpt-size / 11;
        color: $bg-color;
        text-align: center;
        cursor: pointer;
        @include t(.3s);
        &:hover, &:active, &:focus {
            background-color: $main-color;
        }
    }
}

// ============================================= *
//                                               *
// transition Effect                             *
//                                               *
// ============================================= */
.r2pt {
    &-enter-active, &-leave-active {
        @include t(.3s);
    }
    &-enter, &-leave-to {
        opacity: 0;
    }
}